@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #1c2529;
}

.App {
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: #2f95e9;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 1rem;
  text-align: center;
  height: 20vh;
}

.form-div {
  height: 95vh;
  width: 100vw;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.input-field,
button {
  margin: 0.5rem 0;
}

input,
button,
.input-field {
  font-size: 1.1rem;
}

input[type="text"] {
  outline: none;
  border: none;
  background-color: #f0f8ff;
  border-bottom: 1px solid #2f95e9;
  padding: 0.1rem 0.2rem;
}

input[type="text"]:focus {
  border-width: 2px;
}

button {
  display: block;
  margin: 2rem auto;
  font-size: 1.2rem;
  background-color: #2f95e9;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 0.25rem;
  width: 354px;
  border: none;
  cursor: pointer;
}

.manifest-div {
  height: 100vh;
  width: 100vw;
  padding: 1.5rem;
  font-size: 2.75rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  height: 5vh;
  margin: auto;
}
